main{
  min-height: 80vh;
}

header {
  border-bottom: solid 2px #4bbf73;
  background-color: black;
}

.brand{
  font-size: xx-large;
}

.disabled-button{
  background-color: rgb(255, 178, 178);
}
.double-arrow{
 margin-left: 0;
 margin-right: 2px;
 margin-top: auto;
 margin-bottom: auto;

}
.cardproducts{
margin-left: 2px;
margin-right: 2px;
}

.my-button-addtocart{

  background-color: rgb(41, 39, 39);

}

.carouselfull {
  border: solid 3px #4bbf73;
  background-color:black;
  height: 380px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}
.carousel-caption h2 {
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.carousel img {
  height: 310px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.carousel-productimg{
  margin-top: 40px;
}

.carousel a {
  margin: 0 auto;
}